
@{
    ViewBag.Title = "ChangePass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

<div class="row justify-content-md-center" style="padding-top: 70px">
    <div class="col-md-5">
        <h3 style="text-align:center">Welcome @Session["Name"]</h3>
        @*<h3 style="text-align:center; color: white">Welcome @Session["Roles"]</h3>*@

        @using (Html.BeginForm("ChangePass", "Users", FormMethod.Post))
        {
            FoodOnline.Models.User user = Session["User"] as FoodOnline.Models.User;
            @Html.AntiForgeryToken()
            <div class="card">
                <div class="card-header">Change Password</div>
                <p style="color:black; text-align:center">@ViewBag.Message</p>
                <div class="card-body">
                    <div class="form-group pass_show">
                        @Html.Label("Current Password", new { @for = "Password" })  <br />
                        <input type="password" name="Password" class="form-control" placeholder="Current Password" required>
                    </div>
                    <div class="form-group pass_show">
                        @Html.Label("New Password", new { @for = "newPassword" }) <br />
                        <input type="password" name="newPassword" class="form-control" placeholder="New Password" required>
                    </div>
                    <div class="form-group pass_show">
                        @Html.Label("Confirm Password", new { @for = "Confirmpwd" }) <br />
                        <input type="password" name="Confirmpwd" class="form-control" placeholder="Confirm Password" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-outline-dark" value="ChangePass" />
                    </div>
                    <div class="form-group">
                        <a href="@Url.Action("ProfileUser", "Users", new {userID = user.IdUser})">Back to info</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<style>
    .card-header {
        text-align: center;
        background-color: lightgray;
    }

    .pass_show {
        position: relative;
        cursor: pointer;
    }

        .pass_show .ptxt {
            position: absolute;
            top: 50%;
            right: 10px;
            z-index: 1;
            color: #f36c01;
            margin-top: 5px;
            cursor: pointer;
            transition: .3s ease all;
        }

            .pass_show .ptxt:hover {
                color: #333333;
            }
</style>
<script>
    $(document).ready(function () {
        $('.pass_show').append('<span class="ptxt">Show</span>');
    });


    $(document).on('click', '.pass_show .ptxt', function () {

        $(this).text($(this).text() == "Show" ? "Hide" : "Show");

        $(this).prev().attr('type', function (index, attr) { return attr == 'password' ? 'text' : 'password'; });

    });
</script>

