@model IEnumerable<FoodOnline.Models.Product>
@{
    ViewBag.Title = "Menu Food";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/GiaoDienLogin/css/css.css" rel="stylesheet" type="text/css">
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $(".btn-cart").on('click', function () {
                //$("html,body").animate({ scrollTop: $(".btn-cart").offset().top }, 1200, "easeOutBounce");
                event.preventDefault();
                var ID = $(this).data("id");
                $.ajax({
                    url: '/Cart/AddItem',
                    data: {
                        ProductID: ID
                    },
                    type: 'POST',
                    dataType: 'json',
                    success: function (response) {
                        if (response.status == true) {
                            $.notify("Thêm vào giỏ hàng thành công!", "success");

                            $.ajax({
                                url: '/Cart/GetTotalCart',
                                type: 'GET',
                                dataType: 'json',
                                success: function (response) {
                                    $(".simpleCart_total").html(response.TotalPrice + "₫ (" + response.TotalQuantity + ")")
                                },
                            });
                        } 
                    },
                });
            })
        });
    </script>
    }
    <main id="main">
        <section class="hero-wrap hero-wrap-2" style="background-image: url('../../Content/Home/assets/img/bg_5.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-end justify-content-center">
                    <div class="col-md-9 ftco-animate text-center mb-5">
                        <h1 class="mb-2 bread">Menu Food</h1>
                        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Menu Food <i class="fa fa-chevron-right"></i></span></p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="scene">
                <div class="cube">
                    <div class="cube-face front"></div>
                    <div class="cube-face back"></div>
                    <div class="cube-face left"></div>
                    <div class="cube-face right"></div>
                    <div class="cube-face bottom"></div>
                    <div class="cube-face top"></div>
                </div>
            </div>
        </section>
        <section id="menu" class="menu section-bg">

            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Menu</h2>
                    <p>Check Our Tasty Menu</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="menu-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-starters">Starters</li>
                            <li data-filter=".filter-salads">Salads</li>
                            <li data-filter=".filter-specialty">Specialty</li>
                        </ul>
                    </div>
                </div>

                <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
                        @foreach (var item in Model)
                        {
                            if (item.IsDelete == true)
                            {
                                <div class="col-lg-6 menu-item">

                                    <img src="~/Areas/UploadedFiles/@item.Img" width="80" height="70" class="menu-img" alt="">
                                    <div class="menu-content">
                                        <a href="@Url.Action("Detail", "Home", new { id = item.IdProduct })">
                                            @Html.DisplayFor(modelItem => item.NameProduct)
                                        </a>
                                        @if (item.StartTimePromotion <= DateTime.Now && item.EndTimePromotion >= DateTime.Now)
                                        {

                                            <span>
                                                <del class="insert-img">@Html.DisplayFor(modelItem => item.Price)đ</del>
                                            </span>
                                            <span>
                                                @Html.DisplayFor(modelItem => item.Promotion)đ
                                            </span>
                                        }
                                        else
                                        {
                                            <span>
                                                @Html.DisplayFor(modelItem => item.Price)đ
                                            </span>
                                        }
                                       
                                    </div>
                                    <div class="menu-ingredients">
                                        @Html.DisplayFor(modelItem => item.Describe)
                                    </div>

                                    <div class="menu-ingredients">
                                        @*<a href="#" class="item_add" data-id="@products[i].ID">Chọn mua</a>*@
                                        @*data-id="@item.IdProduct"*@ @*btn-cart*@
                                        <a class="btn-cart" href="#" data-id="@item.IdProduct">
                                            Add to cart
                                        </a>
                                    </div>
                                </div>
                            }

                        }

                    </div>


                </div>

            </div>
        </section><!-- End Menu Section -->
        <!-- ======= Specials Section ======= -->
        <section id="specials" class="specials">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Specials</h2>
                    <p>Check Our Specials</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-3">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Modi sit est</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Unde praesentium sed</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Pariatur explicabo vel</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Nostrum qui quasi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Iusto ut expedita aut</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9 mt-4 mt-lg-0">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Architecto ut aperiam autem id</h3>
                                        <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                                        <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="../../Content/Home/assets/img/specials-1.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Et blanditiis nemo veritatis excepturi</h3>
                                        <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                                        <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="../../Content/Home/assets/img/specials-2.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                                        <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                                        <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="../../Content/Home/assets/img/specials-3.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-4">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                                        <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                                        <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="../../Content/Home/assets/img/specials-4.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-5">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                                        <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                                        <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="../../Content/Home/assets/img/specials-5.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Specials Section -->
    </main>
